.row
    .span4
        label
            input.span4(type='text', data-ng-model='query', placeholder='Search country')
        table.table.table-striped
            thead
                tr
                    th Country
                    th
                        a(data-ng-click='predicate=\'gold\';reverse=!reverse') Gold
                    th
                        a(data-ng-click='predicate=\'silver\';reverse=!reverse') Silver
                    th
                        a(data-ng-click='predicate=\'bronze\';reverse=!reverse') Bronze
                    th
                        a(href='#/countries/new')
                            i.icon-plus-sign
            tbody
                tr(data-ng-repeat='country in countries | filter:{name: query} | orderBy:predicate:reverse')
                    td {{country.name}}
                    td {{country.gold}}
                    td {{country.silver}}
                    td {{country.bronze}}
                    td
                        a(href='#/countries/edit/{{country._id.$oid}}')
                            i.icon-pencil
    .span8
        p This space is for a graphic...
