header.jumbotron.subhead
    .container
        h1 {{tournament.name}} &nbsp;
            small {{tournament.sport}}
        p {{tournament.location}}
.container
    .row
        .span8
            .tabbable
                ul.nav.nav-tabs
                    li.active
                        a(href='#fixtures', data-toggle='tab') Schedule / Results
                    li.dropdown
                        a.dropdown-toggle(href='#', data-toggle='dropdown') Statistics
                            b.caret
                        ul.dropdown-menu
                            li
                                a(href='#byplayer', data-toggle='tab') By player
                            li
                                a(href='#byteam', data-toggle='tab') By team
                    li
                        a(href='#competitors', data-toggle='tab') Competitors
                .tab-content
                    #fixtures.tab-pane.fade.in.active
                        p Phases:
                        accordion(close-others='false')
                            accordion(close-others='true')
                                accordion-group(heading='{{phase.name}}',ng-repeat='phase in tournament.phases')
                                    ul
                                        li(data-ng-repeat='fixture in phase.fixtures') {{fixture.name}}
                        //-
                            accordion-group(heading='{{f.name}}',ng-repeat='f in tournament.fixtures')
                                table.table.table-striped
                                    thead
                                        tr
                                            th Competitor
                                            th Result
                                    tbody
                                        tr(data-ng-repeat='p in f.p')
                                            td {{p}}
                                            td 3
                        //-
                            #fixtures-list.accordion
                                .accordion-group
                                    .accordion-heading
                                        a.accordion-toggle(data-toggle='collapse', data-parent='#schedule-list', href='#item1') Item1
                                    #item1.accordion-body.collapse.in
                                        .accordion-inner This is the inner
                                .accordion-group
                                    .accordion-heading
                                        a.accordion-toggle(data-toggle='collapse', data-parent='#schedule-list', href='#item2') Item2
                                    #item2.accordion-body.collapse.in
                                        .accordion-inner This is the inner
                            ul
                                li(ng-repeat='sch in tournament.schedule') {{sch.date}} - {{sch.name}}
                    #competitors.tab-pane.fade
                        label Search competitor by name:
                            input.span3(type='text', data-ng-model='query', placeholder='Name')
                        table.table.table-striped
                            thead
                                tr
                                    th
                                        a(data-ng-click='predicate=\'seed\';reverse=!reverse') &#35;
                                    th
                                        a(data-ng-click='predicate=\'name\';reverse=!reverse') Name
                                    th
                                        a(data-ng-click='predicate=\'result\';reverse=!reverse') Result
                                //-
                                    th.cell-right
                                        a(href='#/tournaments/new')
                                            i.icon-plus-sign
                            tbody
                                tr(data-ng-repeat='cmp in tournament.competitors | filter:query | orderBy:predicate:reverse')
                                    td {{cmp.seed}}
                                    td {{cmp.name}}
                                    td {{cmp.result}}
                                //-
                                    td.cell-right
                                        a(href='#/tournaments/edit/{{cmp._id.$oid}}')
                                            i.icon-pencil
                        
                        
                    #byplayer.tab-pane.fade
                        p By Player. Comming soon...
                    #byteam.tab-pane.fade
                        p By Team. Comming soon...
        .span4
            .alert.alert-info
                h4 General Information
                dl.dl-horizontal
                    dt
                        i.icon-map-marker
                    dd {{tournament.location}}
                    dt
                        i.icon-calendar
                    dd {{tournament.startDate | date:'mediumDate'}}
                    dt
                        i.icon-align-left
                    dd {{tournament.description}}
            .alert.alert-info
                h4 Competition Setup
                dl.dl-horizontal
                    dt(title='Number of competitors')
                        i.icon-user
                    dd {{tournament.competitors.length}}
                    dt(title='Tournament type')
                        i.icon-cog
                    dd {{tournament.type}}
                    dt(title='Number of phases')
                        i.icon-random
                    dd {{tournament.phases.length}}
