.container
    .row
        .span2
            input.span2(type='text', data-ng-model='tName', placeholder='Filter by name')
            input.span2(type='text', data-ng-model='tSport', typeahead='sport.name for sport in sports | filter:$viewValue', placeholder='Filter by sport', autocomplete='off')
            input.span2(type='text', data-ng-model='tLocation', typeahead='loc for loc in locations | filter:$viewValue', placeholder='Filter by location', autocomplete='off')
            a.btn.btn-primary(href='#/tournaments/search/{{tName}}?sport={{tSport}}&location={{tLocation}}') Search
            //- 
                ul.nav.nav-pills.nav-stacked
                    li.active
                        a(href="#") Active
                    li
                        a(href="#") Completed
        .span10
            ul.nav.nav-tabs
                li.active
                    a(href='#browse', data-toggle='tab') Browse
                li
                    a(href='#map', data-toggle='tab') Map
            .tab-content
                #browse.tab-pane.fade.in.active
                    ul.inline
                        li
                            .btn-group
                                button.btn.btn-small
                                    span.muted Sort by:&nbsp;
                                    span {{sortBy}}
                                button.btn.btn-small.dropdown-toggle(data-toggle='dropdown')
                                    span.caret
                                ul.dropdown-menu
                                    li(data-ng-repeat='predicate in predicates')
                                        a(data-ng-click='search(predicate, pageSize)') {{predicate}}
                        li
                             .btn-group
                                button.btn.btn-small
                                    span.muted Items per page:&nbsp;
                                    span {{pageSize}}
                                button.btn.btn-small.dropdown-toggle(data-toggle='dropdown')
                                    span.caret
                                ul.dropdown-menu
                                    li(data-ng-repeat='itemPerPage in itemsPerPage')
                                        a(data-ng-click='search(sortBy, itemPerPage)') {{itemPerPage}}
                    .row
                        .span10
                            ul.list-group
                                li.list-group-item(data-ng-repeat='trn in tournaments')
                                    h5
                                        a(href='#/tournaments/view/{{trn._id.$oid}}') {{trn.name}}
                                        small &nbsp;-&nbsp;{{trn.sport}}
                                    ul
                                        li
                                            i.icon-map-marker
                                            span &nbsp;{{trn.location}}
                                        li
                                            i.icon-align-left
                                            span &nbsp;{{trn.description}}

                            pagination.pagination-right.pagination-small(boundary-links='true', num-pages='noOfPages', current-page='currentPage', max-size='maxSize')
                #map.tab-pane.fade
                    p This functionality has not been implemented yet.
