extends layout
block header
block content
    .row
        .span12
            p empieza aqui.
            p Estamos dentro de block content y esto es estatico. Titulo= #{title}
            .input-append
                input.span3(type='text', placeholder='Search tournament')
                button.btn(type='button') Search
    .container(data-ng-view)
