extends layout
block header
    header.jumbotron.masthead
        .container
            h1 Stadion
            p Potentially, the best competition management tool in the World! :)
            p
                a.btn.btn-primary.btn-large Learn more &raquo;
block content
    .marketing
        h1 Introducing Stadion
        p.marketing-byline Looking for an application to manage your tournaments? Look no further.
        .row-fluid
            .span4
                img.marketing-img(src='./images/ready.png')
                h2 Ready
                p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            .span4
                img.marketing-img(src='./images/steady.png')
                h2 Steady
                p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            .span4
                img.marketing-img(src='./images/go.png')
                h2 Go!
                p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
