extends layout
block header
block content
    .row
        .span12
            p Choose between the following options ( #{title} ):
                ul
                    li
                        a(href='#countries') Medals
    .container(data-ng-view)
