doctype 5
html(lang='en')
    head
        meta(charset='utf-8')
        title='Stadion'
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='description', content='Competition Management')
        meta(name='author', content='atreceno')
        link(href='styles/main.css', rel='stylesheet')
        link(href='styles/docs-m.css', rel='stylesheet')
        //if lt IE 9
            script(src='components/bootstrap/docs/assets/js/html5shiv.js')
    body(data-ng-app='stadion')
        #wrap
            include includes/modals
            .navbar.navbar-inverse.navbar-fixed-top
                .navbar-inner
                    .container-fluid
                        button.btn.btn-navbar(type='button', data-toggle='collapse', data-target='.nav-collapse')
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        a.brand(href='/') Stadion
                        .nav-collapse.collapse(data-ng-controller='MainCtrl')
                            ul.nav
                                li.active
                                    a(href='#/') Home
                                li
                                    a(href='#contact', data-toggle='modal') Contact
                                li.dropdown
                                    a.dropdown-toggle(href='#', data-toggle='dropdown') Tournaments
                                        b.caret
                                    ul.dropdown-menu
                                        li
                                            a(href='#tournaments/search/') Search tournaments
                                        li
                                            a Create tournaments
                                        li.divider
                                        li.nav-header Statistics
                                        li
                                            a(href='#countries') Medal Standing
                                            a One more link
                                //-form.navbar-search(data-ng-submit='search()', data-ng-controller='TournamentListCtrl')
                            form.navbar-search(action='#tournaments/search/{{tournamentName}}')
                                input.span3.search-query(type='text', data-ng-model='tournamentName', placeholder='Search tournaments')

                            //-
                                form.navbar-search(action='#')
                                    input.search-query.span2(type='text', placeholder='Search tournaments')
                                    a.btn.pull-right(data-toggle='modal', href='#loginModal') Login

                                form.navbar-search.pull-right(action='hola')
                                    input.search-query.span3(type='text', placeholder='Search tournaments')
                                    a.btn(data-toggle='modal', href='#loginModal') Login

                                input.span2(type='text', placeholder='Email')
                                    input.span2(type='password', placeholder='Password')
                                    button.btn(type='submit') Sign in
            block content
            #push
        footer.footer
            .container
                p Designed and built by&nbsp;
                    a(href='http://twitter.com/atreceno', target='_blank') @atreceno
                p Code licensed under&nbsp;
                    a(href='http://www.apache.org/licenses/LICENSE-2.0', target='_blank') Apache License v2.0
                ul.footer-links
                    li
                        a(href='https://github.com/atreceno/stadion/wiki', target='_blank') Blog
                    li.muted &middot;
                    li
                        a(href='https://github.com/atreceno/stadion/issues', target='_blank') Issues
                    li.muted &middot;
                    li
                        a(href='https://github.com/atreceno/stadion', target='_blank') GitHub
        script(src='components/jquery/jquery.js')
        script(src='components/bootstrap/js/bootstrap-transition.js')
        script(src='components/bootstrap/js/bootstrap-alert.js')
        script(src='components/bootstrap/js/bootstrap-modal.js')
        script(src='components/bootstrap/js/bootstrap-dropdown.js')
        script(src='components/bootstrap/js/bootstrap-scrollspy.js')
        script(src='components/bootstrap/js/bootstrap-tab.js')
        script(src='components/bootstrap/js/bootstrap-tooltip.js')
        script(src='components/bootstrap/js/bootstrap-popover.js')
        script(src='components/bootstrap/js/bootstrap-button.js')
        script(src='components/bootstrap/js/bootstrap-collapse.js')
        script(src='components/bootstrap/js/bootstrap-carousel.js')
        script(src='components/bootstrap/js/bootstrap-typeahead.js')
        script(src='components/angular/angular.js')
        script(src='components/angular-resource/angular-resource.js')
        script(src='components/angular-bootstrap/ui-bootstrap-tpls.min.js')
        script(src='http://d3js.org/d3.v3.min.js')
        script(src='scripts/app.js')
        script(src='scripts/controllers/country.js')
        script(src='scripts/controllers/tournament.js')
        script(src='scripts/controllers/main.js')
        script(src='scripts/services/local-rest-api.js')
        script(src='scripts/services/mongo-lab-api.js')
        script(src='scripts/directives/stMedal.js')
    //-
        script(src='scripts/services/socket.js')
        script(src='/socket.io/socket.io.js')
        script
            alert('client is about to connect');
            var socket = io.connect('http://localhost');
            socket.on('news', function (data) {
                console.log('Something happen on the news');
                console.log(data);
                socket.emit('my other event', 'agustin', 'oido cocina!');
            });
